$div-color: #82E0AA;
$shadow-color: 0px 0px 20px 10px #888888;

body{
  background-color: #D0D3D4;
  width: 100%;
  .ng-enter {
    transition:0.5s linear all;
    opacity:0;
  }
  .ng-enter.ng-enter-active {
    opacity:1;
  }
  main{

    button {
      margin: 0px;
      box-shadow: 0px 0px 10px 3px #888888;
    }
    .randomDiv{
      background-color: $div-color;
      margin: 50px auto;
      width: 70vw;
      min-height: 50vh;
      color: white;
      font-size: 2em;
      padding: 10px;
      box-shadow: $shadow-color;
      border-radius: 10px;
      text-shadow: 1px 1px 5px #000000;
      
    }
    .categoryDiv{
      background-color: $div-color;
      float: right;
      width: 50%;
      min-height: 50vh;
      color: white;
      font-size: 1.3em;
      padding: 20px;
      margin: 2vw;
      box-shadow: $shadow-color;
      border-radius: 10px;
      text-shadow: 1px 1px 5px #000000;
    }
    .categoryList {
      padding: 10px;
      float: left; 
      margin: 20px;
      border-radius: 10px;
      box-shadow: $shadow-color;
      input{
        border: none;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          border-bottom: 2px solid rgba(82, 82, 82, 0.384);
          a{
            font-size: 1.2em;
            font-weight: bold;
            color: rgb(78, 78, 78);
          }
        }
      }
    }
    .searchDiv{
      background-color: $div-color;
      margin: 50px auto;
      width: 70vw;
      min-height: 50vh;
      color: white;
      padding: 10px;
      box-shadow: 0px 0px 20px 10px #888888;
      border-radius: 10px;
      text-shadow: 1px 1px 5px #000000;
      input{
        border: none;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          border-bottom: 2px solid rgba(82, 82, 82, 0.384);
          a{
            font-size: 1.2em;
            font-weight: bold;
            color: rgb(78, 78, 78);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
      .categoryList {
        width: 130px;
        input{
          width: 100px;
        }
      }
}